<template>
  <div>
    <navbar></navbar>
    <div class="section">
      <div class="container">
        <router-view></router-view>
      </div>
    </div>
    <gfooter></gfooter>
  </div>
</template>

<script>
  import './assets/less/main.less'
  import navbar from './components/layout/Navbar';
  import gfooter from './components/layout/Footer';

  export default {
    name: 'app',
    components: {
      navbar,
      gfooter
    }
  }
</script>
