<template>
        <div class="footer fix-footer">
            <div class="content has-text-centered">
                <p>
                    &copy; by <a href="#">Crossmarket</a> &copy; 2019
                </p>
            </div>
        </div>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>