<template>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <span class="navbar-item" href="/">
                Crossmarket
            </span>

            <a role="button" class="navbar-burger burger" @click="showNav = !showNav" v-bind:class="{ 'is-active' : showNav }" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu" :class="{ 'is-active': showNav }">
            <div class="navbar-start">
                <router-link class="navbar-item" to="/">Home</router-link>
            </div>
            <div class="navbar-end">
                <router-link v-for="(item) in filterMenu()" :key="item.name" v-bind:to="item.url" class="navbar-item">
                    {{ item.name }}
                </router-link>
                <a v-if="isLoggedIn" class="navbar-item" @click="logout">Logout</a>
            </div>
        </div>
    </nav>
</template>

<script>

    /* eslint-disable */

    export default {
        name: 'Navbar',
        data() {
            return {
                showNav: false,
                items: [
                    { name: 'About', url: '/about', logged: true },
                    { name: 'Profile', url: '/profile', logged: true },
                    { name: 'Login', url: '/login', logged: false },
                    { name: 'Register', url: '/register', logged: false }
                ]
            }
        },
        created() {
            // this.filterMenu();
        },
        computed: {
            isLoggedIn: function () {
                return this.$store.getters.isLoggedIn
            }
        },
        methods: {
            logout: function (e) {
                this.$store.dispatch('logout')
                    .then(() => {
                        this.$router.push('/')
                    })
            },
            filterMenu: function () {
                return this.items.filter(v => v.logged === this.isLoggedIn)
            }
        },
    }

</script>
