<template>
    <div>
        <div class="card">
            <div class="card-image">
                <div class="card-header">
                    Crossmarket
                </div>
            </div>
            <div class="card-content">
                <div class="content">
                    Content
                </div>
            </div>
        </div>
    </div>
</template>

<script>


    export default {
        name: 'Home',
        data() {
            return {
            }
        },
        computed : {
            isLoggedIn : function() { return this.$store.getters.isLoggedIn }
        }
    }
</script>
