<template>
    <div>
        <h2>Profile</h2>
        <div>{{ user }}</div>
    </div>
</template>

<script>

    import api from '../api/routes';

    export default {
        name: "Profile",
        data() {
            return {
                user: {
                    email: '',
                    name: '',
                    phone: '',
                    password: ''
                },
            }
        },
        created: function () {
            this.getProfile();
        },
        methods: {
            getProfile: async function () {
                this.user = await api.getProfile();
            }
        }
    }
</script>

<style scoped>

</style>