<template>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="Email" v-model="user.email"/>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="Password" v-model="user.password">
                    </div>
                </div>
                <div class="control">
                    <button class="button is-primary" @click="login">Signup</button>
                </div>
            </div>
        </div>
</template>

<script>
    /* eslint-disable */
    export default {
        name: "Login",
        data() {
            return {
                token: '',
                user: {
                    id: null,
                    email: '',
                    password: ''
                }
            }
        },
        methods: {
            login: function () {
                this.$store.dispatch('login', this.user)
                    .then(() => this.$router.push('/'))
                    .catch(err => console.log(err))
            }
        }
    }
</script>