<template>
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" placeholder="Email" v-model="user.email"/>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" placeholder="Password" v-model="user.password">
                </div>
            </div>
            <div class="field">
                <label class="label">Repeat password</label>
                <div class="control">
                    <input class="input" type="password" placeholder="Repeat password" v-model="password_confirmation">
                </div>
            </div>
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Name" v-model="user.name">
                </div>
            </div>
            <div class="field">
                <label class="label">Phone</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Phone" v-model="user.phone">
                </div>
            </div>
            <div class="control">
                <button class="button is-success" @click="signup">Login</button>
            </div>
        </div>
    </div>
</template>

<script>
    /* eslint-disable */

    export default {
        name: "Register",
        data() {
            return {
                token: '',
                user: {
                    email: '',
                    name: '',
                    phone: '',
                    password: ''
                },
                password_confirmation: ''
            }
        },
        methods: {
            signup: function () {
                this.$store.dispatch('signup', this.user)
                    .then(() => this.$router.push('/'))
                    .catch(err => console.log(err))
            }
        }
    }
</script>

<style scoped>

</style>