body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

.hidden {
  display: none;
}

.token {
  overflow-wrap: break-word;
  font-size: smaller;
}

.fix-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow:hidden;
  padding: 10px !important;
}